.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow: auto;
    background-color: #2b2b2b;
    color: #ffffff83;
}

.github-login {
    position:fixed;
    top: 0;
    right: 0;
    margin: 4px;
    background-color: #242323;
    color: #ffffff83;
    border: 2px solid #242323;
    transition: border-color 200ms ease-in-out;
}

.github-login:hover{
    border-color: #398378;
}

.sideNav {
    max-width: 400px;
    width: 10vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #2b2b2b;
    z-index: 100;
    border: none;
}

.sideNav aside{
    border-right: 2px solid #242323;
}

.sideNavHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #2b2b2b;
    z-index: 100;
}

.headerButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    background-color: #2b2b2b;
    border: 2px solid #242323;
    margin: 4px;
}

.headerButton:hover {
    border: 2px solid #398378;
}

.headerButton:focus {
    border: none;
    outline: none;
}

.headerButtonIcon {
    background-color: #2b2b2b;
    width: 1.5rem;
    height: 1.5rem;
}

.chat-container {
    background-color: #2b2b2b;
    border-bottom: 2px solid #242323;
    border-top: 2px solid #242323;
}

.chat-container ul{
    background-color: #2b2b2b;
}

.chat-link {
    color: #398378;
}

/* chat bar */

.chat-bar {
    position: relative;
    height: 2.5rem;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-bar input {
    height: 2.2rem;
    width: 100%;
    border: 1px solid #398378;
    background-color: #121212;
    border-radius: 20px;
    padding-left: 1rem;
    text-align: start;
}

.chat-bar input:focus {
    outline: 1px solid #53bdad;
}

.chat-bar button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 5px;
    right: 0.5rem;
    border-radius: 50%;
    border: 1px solid #398378;
    background-color: #398378;
    transition: all 200ms ease-in-out;
}

.chat-bar button:hover{
    border: 1px solid #39837893;
    background-color: #39837893;
}

.chat-bar button>img{
    width: 1rem;
    height: 1rem;
}

.menuItemContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* bg */

.background img {
    position: fixed;
    width: 20rem;
    height: 20rem;
    top: 5%;
    left: 40%;
}

/* msgs */

.message-list {
    width: 60%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.msg {
    color: #ffffff83;
    padding: 10px;
    width: fit-content;
    text-wrap: wrap;
    font-size: 16px;
    margin: 0 0 2rem 0;
}

.profile {
    position: relative;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.profile img {
    width: 1.5rem;
    height: 1.5rem;
    opacity: 0.8;
}

.user-msg {
    margin-left: auto;
    border-radius: 10px 10px 0px 10px;
    /*background-color: #3983782b;*/
    background-color: #398378;
}

.user-profile {
    display: none;
    /* margin-left: auto;
  border: 1px solid #2c2b2b8d;
  left: 2.5rem;
  top: 3.5rem; */
}

.resp-msg {
    border-radius: 10px 10px 10px 0px;
    /* background-color: #3983789e; */
}

.resp-profile {
    border: 1px solid #242323;
    background-color: #242323;
    right: 2.5em;
    top: 2.5rem;
    /* top: 3.5rem; */
}

/* cursor styling */
.cursor {
    display: inline-block;
    height: 18px;
    animation: flicker 1s infinite;
}

/* animations */

@keyframes slidein {
    from {
        translate: 0 50px;
    }

    to {
        translate: 0 0;
    }
}

@keyframes flicker {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
